asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
distlib==0.3.6
Django==4.2.2
django-adminlte2==0.4.3
django-bootstrap-form==3.4
django-easy-select2==1.5.8
django-filter==23.2
django-widget-tweaks==1.4.12
filelock==3.12.0
idna==3.4
Pillow==9.5.0
platformdirs==3.5.1
psycopg2==2.9.6
psycopg2-binary==2.9.6
pyTelegramBotAPI==4.12.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.0
